/*-----------------------------------------------------------------------------------------------
Project Name: | Lactum Creative
Description:  | Ipad App
Company:      | autologicmedia
Company URI   | http://autologicmedia.com
Author:       | Jeffrey B. Turingan
Author URI:   | http://autologicmedia.com/
License:      | GNU General Public License v2.0
License URI:  | http://www.gnu.org/licenses/gpl-2.0.html
------------------------------------------------------------------------------------------------*/

body { margin: 0;padding: 0; font-family: Arial, Helvetica, sans-serif;font-size: 12px; line-height: 18px; background-color:#00afe8}
a { cursor: pointer;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a,img { border: 0;outline-width:0;}
#wrapper { width: 1024px; height:768px; margin: 0 auto; overflow: hidden;position: relative;background: #19b6f0 url('images/background.jpg') left top;}
.slide { width: 1024px; height: 768px; margin: 0 auto; overflow: hidden;position: absolute;left: 100%;top: 0; display: block;-moz-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s;}
.slide.active { left: 0;top: 0}
.slide.done { left: -100%;top: 0}



/*PAGE*/
#s0 { background: url('images/startup.jpg')}

.alactastart {background: transparent;display: block;height: 230px;left: 35px;position: absolute;top: 230px;width: 450px;}
.lactumstart {background: transparent;display: block;height: 230px;left: 510px;position: absolute;top: 230px;width: 450px;}



/*SLIDE1*/
#s1 span { display: block; background: url('images/s1.png');width: 0px;height: 768px;-moz-transition:width 0.8s;-webkit-transition:width 0.8s;transition:width 0.8s}
#s1 span.anim{ width: 1024px}

#s1 i { display: block; width: 141px;height: 768px; position: absolute;left: -141px;background: url('images/glow1.png') ; top: 0;-moz-transition:left 0.8s;-webkit-transition:left 2s;transition:left 0.8s}
#s1 i.anim { left: 100%;}


/*SLIDE2*/
#s2 img { position: absolute;left: 0;top: 0;z-index: 1}

#s2 .s2b { display: block; width:491px; height: 0;position: absolute;left:19px; top: 150px;background: url('images/s2b.png');-moz-transition:height 0.5s;-webkit-transition:height 0.5s;transition:height 0.5s  }
#s2 .s2b.anim{ height: 543px}

#s2 .s2c { display: block; width: 336px; height: 212px;position: absolute;opacity: 0;left:617px; top: 197px;background: url('images/s2c.png');-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s  }
#s2 .s2c.anim { opacity: 1}

/*SLIDE3*/
#s3 .s3a { display: block; position: absolute; height:85px; width:0; left:18px;top: 41px;background: url('images/s3a.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s3 .s3a.anim { width:968px}

#s3 .s3b { display: block; position: absolute; height:768px; width:0; left:0;top: 0px;background: url('images/s3b.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s3 .s3b.anim { width:1024px}
#s3 i { display: block; width: 141px;height: 768px; position: absolute;left: -141px;background: url('images/glow1.png') ; top:0px;-moz-transition:0.5s;-webkit-transition:0.5s;transition:0.5s}
#s3 i.anim { left: 100%;}

#s3 .s3c { display: block; width: 878px; height: 148px;position: absolute;opacity: 0;left:55px; top: 507px;background: url('images/s3c.png');-moz-transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transition:opacity 0.3s  }
#s3 .s3c.anim { opacity: 1}

#s3 .s3d { display: block; position: absolute; height:65px; width:709px; left:78px;top: 673px;background: url('images/s3d.png') left top ;opacity: 0;-moz-transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transition:opacity 0.3s }
#s3 .s3d.anim { opacity: 1}

#s3zoom { display: block; width: 878px;height: 504px;position: absolute;left: 55px;top:151px;z-index: 99 }
#s3zoombox { display: none; width: 1006px;height: 578px;position: absolute;left: 9px;top:94px;background: url('images/s3zoom.png');z-index: 98 }


/*SLIDE4*/

#s4 .s4a {display: block; position: absolute; height:85px; width:0; left:172px;top: 41px;background: url('images/s4a.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s4 .s4a.anim { width:661px}


#s4 .s4a2 {display: block; position: absolute; height:768px; width:0; left:0;top: 0;background: url('images/s4.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s4 .s4a2.anim { width:1024px}

#s4 .s4b {display: block; width: 886px; height: 0;position: absolute;left:62px; top:409px;-moz-transition:height 0.2s;-webkit-transition:height 0.2s;transition:height 0.2s }
#s4 .s4b.anim{ height:162px}

#s4 .s4c {display: block; width: 886px; height: 0;position: absolute;left:62px; top:571px;background: url('images/s4c.png');-moz-transition:height 0.2s;-webkit-transition:height 0.2s;transition:height 0.2s }
#s4 .s4c.anim{ height:63px}

#s4 .s4d { display: block; position: absolute; height:100px; width:708px; left:95px;top: 652px;background: url('images/s4d.png') left top ;opacity: 0;-moz-transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transition:opacity 0.3s }
#s4 .s4d.anim { opacity: 1}

#s4zoom { display: block; width: 886px;height: 486px;position: absolute;left: 62px;top:148px;z-index: 99 }
#s4zoombox { display: none; width: 1006px;height: 552px;position: absolute;left: 9px;top:100px;background: url('images/s4zoom.png');z-index: 98 }

/*SLIDE5*/
#s5 .s5a {display: block; position: absolute; height:85px; width:0; left:161px;top: 41px;background: url('images/s5a.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s5 .s5a.anim { width:668px}

#s5 .s5b {display: block; position: absolute; height:768px; width:0; left:0;top: 0;background: url('images/s5b.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s5 .s5b.anim { width:1024px}

#s5 i { display: block; width: 141px;height: 768px; position: absolute;left: -141px;background: url('images/glow1.png') ; top:0px;-moz-transition:0.5s;-webkit-transition:0.5s;transition:0.5s}
#s5 i.anim { left: 100%;}

#s5 .s5c { display: block; width: 966px; height: 0;position: absolute;left:41px; top: 445px;background: url('images/s5c.png');-moz-transition:height 0.5s;-webkit-transition:height 0.5s;transition:height 0.5s  }
#s5 .s5c.anim{ height: 123px}

#s5 .s5d { display: block; position: absolute; height:72px; width:966px; left:41px;top:568px;background: url('images/s5d.png') left top ;opacity: 0;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s }
#s5 .s5d.anim { opacity: 1}

#s5 .s5e { display: block; position: absolute; height:100px; width:839px; left:50px;top:649px;background: url('images/s5e.png') left top ;opacity: 0;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s }
#s5 .s5e.anim { opacity: 1}

#s5zoom1 { display: block; width: 357px;height: 504px;position: absolute;left: 41px;top:121px;z-index: 99 }
#s5zoombox1 { display: none; width: 519px;height:727px;position: absolute;left: 256px;top:22px;background: url('images/s5zoom1.jpg') center center no-repeat;z-index: 100 }

#s5zoom2 { display: block; width: 261px;height: 504px;position: absolute;left: 438px;top:121px;z-index: 99 }
#s5zoombox2 { display: none; width: 519px;height: 727px;position: absolute;left: 256px;top:22px;background: url('images/s5zoom2.jpg') center center no-repeat;z-index: 100 }

#s5zoom3 { display: block; width: 273px;height: 504px;position: absolute;left: 731px;top:121px;z-index: 99 }
#s5zoombox3 { display: none; width: 519px;height: 727px;position: absolute;left: 256px;top:22px;background: url('images/s5zoom3.jpg') center center no-repeat;z-index: 100 }


/*SLIDE6*/
#s6 .s6a {display: block; position: absolute; height:768px; width:1024px; left:0;top: 0;background: url('images/s6a.png') left top no-repeat;z-index: 5}

#s6 .s6b {display: block; position: absolute; height:85px; width:0; left:30px;top: 41px;background: url('images/s6b.png') left top ;-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s6 .s6b.anim { width:942px}

#s6 .s6c { display: block; position: absolute; height:377px; width:531px; left:427px;top:148px;background: url('images/s6c.png') left top ;opacity: 0;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s }
#s6 .s6c.anim { opacity: 1}

#s6 .s6d { display: block; width: 24px; height: 0;position: absolute;left:892px; top: 213px;background: url('images/s6d.png');-moz-transition:height 0.5s;-webkit-transition:height 0.5s;transition:height 0.5s  }
#s6 .s6d.anim{ height: 301px}

#s6 .s6e { display: block; position: absolute; height:47px; width:474px; left:458px;top:544px;background: url('images/s6e.png') left top ;opacity: 0;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s }
#s6 .s6e.anim { opacity: 1}

#s6zoom { display: block; width: 895px;height: 377px;position: absolute;left: 62px;top:148px;z-index: 99 }
#s6zoombox { display: none; width: 866px;height: 687px;position: absolute;left: 82px;top:40px;background: url('images/s6zoom.png');z-index: 100 }

/*SLIDE7*/
#s7 { background: url('images/s7.png') left top no-repeat}

#s7 .s7a {display: block; position: absolute;  width:211px;height:171px; left:97px;top:270px;background: url('images/s7a.png') left top no-repeat;z-index: 5;-moz-transition:left 0.5s,top 0.5s;-webkit-transition:left 0.5s,top 0.5s;transition:left 0.5s,top 0.5s}
#s7 .s7a.anim { left:139px;top:249px }
#s7 .s7a.anim.anim2 { left:97px;top:416px }
#s7 .s7a.anim.anim2.anim3 { left:139px;top:380px }
#s7 .s7a.anim.anim2.anim3.anim4 { left:97px;top:530px }
#s7 .s7a.anim.anim2.anim3.anim4.anim5 { left:139px;top:490px }
#s7 .s7a.anim.anim2.anim3.anim4.anim5.anim6 { left:443px;top:559px }


#s7 .s7b {display: block; position: absolute; height:532px; width:0; left:95px;top:110px;background: url('images/s7b.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s7 .s7b.anim { width:835px}

#s7 .s7c {display: block; position: absolute; height:78px; width:0; left:95px;top:369px;background: url('images/s7c.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s7 .s7c.anim { width:376px}

#s7 .s7d {display: block; position: absolute; height:59px; width:0; left:95px;top:479px;background: url('images/s7d.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s7 .s7d.anim { width:360px}

/*SLIDE8*/
#s8 .s8a {display: block; position: absolute; height:340px; width:265px; left:16px;top: 159px;background: url('images/s8a.png') left top no-repeat;z-index: 5}

#s8 .s8b {display: block; position: absolute; height:81px; width:0; left:154px;top: 40px;background: url('images/s8b.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s8 .s8b.anim { width:717px}

#s8 .s8c {display: block; position: absolute; height:264px; width:0; left:160px;top:195px;background: url('images/s8c.png') right top no-repeat;-moz-transition:width 1s;-webkit-transition:width 1s;transition:width 1s }
#s8 .s8c.anim { width:791px}

#s8 .s8d { display: block; position: absolute; height:31px; width:464px; left:467px;top:471px;background: url('images/s8d.png') left top ;opacity: 0;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;transition:opacity 0.5s }
#s8 .s8d.anim { opacity: 1}

#s8 .s8e {display: block; position: absolute; height:100px; width:0; left:278px;top:527px;background: url('images/s8e.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s }
#s8 .s8e.anim { width:660px}

/*SLIDE9*/
#s9 .s9a {display: block; position: absolute; height:348px; width:1024px; left:0;top: 0;background: url('images/s9a.png') left top no-repeat;}

#s9 .s9b {display: block; position: absolute; height:319px; width:0; left:0px;top:352px;background: url('images/s9b.png');-moz-transition:width 0.5s;-webkit-transition:width 0.5s;transition:width 0.5s}
#s9 .s9b.anim { width:1024px}

#s9 i { display: block; width: 141px;height: 768px; position: absolute;left: -141px;background: url('images/glow1.png') ; top:0px;-moz-transition:0.5s;-webkit-transition:0.5s;transition:0.5s}
#s9 i.anim { left: 100%;}

#s9zoom1 { display: block; width: 320px;height: 572px;position: absolute;left: 26px;top:96px;z-index: 99 }
#s9zoombox1 { display: none; width: 902px;height:602px;position: absolute;left: 60px;top:81px;background: url('images/s9zoom1.png') center center no-repeat;z-index: 100 }

#s9zoom2 { display: block; width: 320px;height: 572px;position: absolute;left: 351px;top:96px;z-index: 99 }
#s9zoombox2 { display: none; width: 902px;height: 602px;position: absolute;left: 60px;top:81px;background: url('images/s9zoom2.png') center center no-repeat;z-index: 100 }

#s9zoom3 { display: block; width: 320px;height: 572px;position: absolute;left: 675px;top:96px;z-index: 99 }
#s9zoombox3 { display: none; width: 902px;height: 602px;position: absolute;left: 60px;top:81px;background: url('images/s9zoom3.png') center center no-repeat;z-index: 100 }



/*SLIDE10*/
#s10 .s10a {display: block; position: absolute; height:768px; width:0; left:0;top:0;background: url('images/s10a.jpg') left top ;-moz-transition:width 0.8s;-webkit-transition:width 0.8s;transition:width 0.8s }
#s10 .s10a.anim { width:1024px}

#s10 i { display: block; width: 141px;height: 768px; position: absolute;left: -141px;background: url('images/glow1.png') ; top:0px;-moz-transition:0.7s;-webkit-transition:0.7s;transition:0.7s}
#s10 i.anim { left: 100%;}

.restart { display: block;width: 50px;height: 50px; background: url('images/home.png') ;position: absolute;bottom: 20px;left: 20px;z-index:99 }



/*ALACTA*/
#a1,#a2 { background-color:#f2d731;z-index: 9999;display: block;width: 1024px;height: 768px }
#a2 > img { display: none}

#sp1 {position: absolute;margin: 0 auto;width: 231px;height: 275px;left: 48px;top:109px ;z-index: 1; cursor: pointer;display: none }
#sp1 {-moz-perspective: 1000;-webkit-perspective: 1000;perspective: 1000;}
#sp1card {width: 100%;height: 100%;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d; -webkit-transition: all  0.5s linear;transition: all  0.5s linear;}
#sp1.spin #sp1card  {-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}

#sp2 {position: absolute;margin: 0 auto;width: 221px;height: 276px;left: 744px;top:109px ;z-index: 1; cursor: pointer;display: none }
#sp2 {-moz-perspective: 1000;-webkit-perspective: 1000;perspective: 1000;}
#sp2card {width: 100%;height: 100%;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transition: all 0.5s linear; -webkit-transition: all  0.5s linear;transition: all  0.5s linear;}
#sp2.spin #sp2card  {-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}

#sp3 {position: absolute;margin: 0 auto;width: 228px;height: 275px;left:398px;top:448px ;z-index: 1; cursor: pointer;display: none }
#sp3 {-moz-perspective: 1000;-webkit-perspective: 1000;perspective: 1000;}
#sp3card {width: 100%;height: 100%;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-transition: all 0.5s linear; -webkit-transition: all  0.5s linear;transition: all  0.5s linear;}
#sp3.spin #sp3card  {-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}


.face {position: absolute;width: 100%;height: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.face.back {display: block;-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);transform: rotateY(180deg);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;boxbox-sizing:border-box;text-align: center;}



#sp4 {position: absolute;margin: 10px auto;width: 473px;height:394px;overflow: hidden;left:276px;top:10px ;z-index: 1; cursor: pointer;display: none}
#sp4 > img  { position: absolute;z-index: 2;left: 0;top: 0}

.spark1 { display: block;position: absolute;width: 182px;height: 184px; left:28px ;top: 26px;background: url('images/spark.png');display: none }
.spark2 { display: block;position: absolute;width: 182px;height: 184px; left:258px ;top: 6px;background: url('images/spark.png');display: none }
.spark3 { display: block;position: absolute;width: 182px;height: 184px; left:7px ;top:246px;background: url('images/spark.png');display: none }
.spark4 { display: block;position: absolute;width: 182px;height: 184px; left:288px ;top:263px;background: url('images/spark.png');display: none }

.alachome { display: none;width: 52px; height: 52px; background: url('images/alactahome.png') no-repeat; position: absolute;z-index: 100;right:20px;bottom: 20px}


.ina0 { display: block;position: absolute;width: 1024px;height: 768px;overflow: hidden;left: 0;top:0 ;z-index: 990;background: #000;opacity: 0; cursor: pointer;}
.ina1 { display: block;position: absolute;width: 231px;height: 275px;overflow: hidden;left: 48px;top:109px ;z-index: 999;background: #000;opacity: 0; cursor: pointer;}
.ina2 { display: block;position: absolute;width: 221px;height: 276px;overflow: hidden;left: 744px;top:109px ;z-index: 999;background: #000;opacity: 0; cursor: pointer;}
.ina3 { display: block;position: absolute;;width: 228px;height: 275px;overflow: hidden;left:398px;top:448px ;z-index: 999;background: #000;opacity: 0; cursor: pointer;}














































